%H2 About ETaggy
%p
  :markdown
    This is a simple [Sinatra](http://sinatrarb.com "Sinatra")-powered app that lets you store JSON documents and then serves them using ETags so you can test [ETag](http://en.wikipedia.org/wiki/Etag "ETag") support in your client library.
%p
  :markdown
    The ETaggy app was originally put together for the [BitZeppelin](http://bitzeppelin.com "BitZeppelin") team to test ETag support in the [Three20](https://github.com/facebook/three20/ "Three20") Objective-C library for iOS apps.
